<!-- component -->
<!-- Start Content -->
<div class="w-full h-full flex flex-col lg:flex-row sm:p-6 p-6">

  <div class="sm:w-full md:w-1/6 lg:w-1/6 px-3">
    <div class="bg-white shadow rounded-lg border hover:bg-gray-200">
      <div class="p-5 text-gray-600">
        <div class="text-gray-500 text-2xl font-thin">Set up MFA</div>
        <p class="pt-1 text-gray-500 font-semibold">
          Configure MFA for your account
        </p>
      </div>
    </div>
  </div>


  <div class="sm:w-full md:w-1/6 lg:w-1/6 px-3">
    <div class="bg-white shadow rounded-lg border hover:bg-gray-200">
      <div class="p-5 text-gray-600">
        <div class="text-gray-500 text-2xl font-thin">Sessions</div>
        <p class="pt-1 text-gray-500 font-semibold">
          View your active sessions
        </p>
      </div>
    </div>
  </div>

  <div class="sm:w-full md:w-1/6 lg:w-1/6 px-3">
    <div class="bg-white shadow rounded-lg border hover:bg-gray-200">
      <div class="p-5 text-gray-600">
        <div class="text-gray-500 text-2xl font-thin">Claims</div>
        <p class="pt-1 text-gray-500 font-semibold">
          View your claims
        </p>
      </div>
    </div>
  </div>

  <div class="sm:w-full md:w-1/6 lg:w-1/6 px-3">
    <div class="bg-white shadow rounded-lg border hover:bg-gray-200">
      <div class="p-5 text-gray-600">
        <div class="text-gray-500 text-2xl font-thin">Devices</div>
        <p class="pt-1 text-gray-500 font-semibold">
          View your trusted Devices
        </p>
      </div>
    </div>
  </div>

  <div class="sm:w-full md:w-1/6 lg:w-1/6 px-3">
    <div class="bg-white shadow rounded-lg border hover:bg-gray-200">
      <div class="p-5 text-gray-600">
        <div class="text-gray-500 text-2xl font-thin">Logout</div>
        <p class="pt-1 text-gray-500 font-semibold">
          Logout now
        </p>
      </div>
    </div>
  </div>

</div>
